@import url('https://fonts.googleapis.com/css?family=Open+Sans|Merriweather');

html, body {
    height: 100%;
    width: 100%;
	font-family: 'Merriweather', serif;
	background: #f7f5f6;
	color: #545454;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	color: #343434;
}
h1, h2 {
	border-bottom: 1px solid #343434;
	padding-bottom: 20px;
}

#hem.transparent {
	background: url(images/header.jpg) no-repeat center top;
	padding: 250px 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

#kontakt.transparent {
	background: url(images/world.jpg) no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}